*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

.boid {
    --x: 50;
    --y: 50;
    --angle: 0;
    --r: 0;
    --g: 153;
    --b: 255;
    position: absolute;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translate(-50%, -50%);
    transform: rotate(calc(var(--angle) * 1rad));
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 18px solid;
    border-bottom: 10px solid transparent;
    color: rgba(51, 51, 51, 0)
}

.slider-list {
    list-style-type: none;
    width: 200%;
    padding-left: 85%;
}

.slider-list > li {
    padding: 0.1em;
}

.slider-list > li > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 0.1em;
}

.slider {
    -webkit-appearance: none;
    width: 10%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.btnslide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.btnslide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .btnslide {
    background-color: #04AA6D;
}

input:focus + .btnslide {
    box-shadow: 0 0 1px #04AA6D;
}

input:checked + .btnslide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.btnslide.round {
    border-radius: 26px;
}

.btnslide.round:before {
    border-radius: 50%;
}